* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
    font-family: "inter" sans-serif;
    color: #343a40;
    line-height: 1;

    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn {
    border: 1px solid #087f5b;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #087f5b;
}

.btn:hover .btn-icon {
    stroke: #fff;
}

.btn-icon {
    height: 24px;
    width: 24px;
    stroke: #087f5b;
}

.page-link:link,
.page-link:visited {
    font-size: 18px;
    color: #343a40;
    text-decoration: none;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-link:hover,
.page-link:active,
.page-link.page-link--current {
    background-color: #087f5b;
    color: #fff;
}

.dots {
    color: #868e96;
}
